<p-dialog
  [visible]="deletePatientDialog()"
  header="Confirm"
  [modal]="true"
  [style]="{ width: '450px' }"
>
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    @if (patient()) {
      <span
        >Are you sure you want to delete the patient
        <b>{{ patient()?.firstName }} {{ patient()?.lastName }}</b
        >?</span
      >
    }
  </div>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      icon="pi pi-times"
      class="p-button-text"
      label="No"
      (click)="onCancel()"
    ></button>
    <button
      pButton
      pRipple
      icon="pi pi-check"
      class="p-button-text"
      label="Yes"
      (click)="onConfirm()"
    ></button>
  </ng-template>
</p-dialog>
