<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <app-toolbar
        [buttons]="toolbarButtons"
        newButtonLabel="New Patient"
      ></app-toolbar>
      <app-table-list
        [tableData]="patients()"
        [tableColumns]="cols"
        [searchableFields]="globalFilterFields"
        dataKey="insuranceNumber"
        tableTitle="Manage Patients"
        editRoute="/patient/edit"
        [rowActions]="patientTableActions"
      ></app-table-list>
      <app-dialog
        [showDialog]="deletePatientDialog()"
        header="Confirm Patient Deletion"
        [itemName]="getPatientFullName()"
        (cancelDelete)="deletePatientDialog.set(false)"
        (confirmDelete)="onConfirmDelete()"
      ></app-dialog>
    </div>
  </div>
</div>
