<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <app-toolbar
        newButtonLabel="New Patient"
        [newItemRoute]="['/patient/new']"
      ></app-toolbar>
      <app-table-list
        [items]="patients()"
        [cols]="cols"
        [globalFilterFields]="globalFilterFields"
        dataKey="insuranceNumber"
        tableTitle="Manage Patients"
        editRoute="/patient/edit"
        (deleteItem)="deletePatient($event)"
      ></app-table-list>
      <app-dialog
        [showDialog]="deletePatientDialog()"
        header="Confirm Patient Deletion"
        [itemName]="getPatientFullName()"
        (cancelDelete)="deletePatientDialog.set(false)"
        (confirmDelete)="onConfirmDelete()"
      ></app-dialog>
    </div>
  </div>
</div>
