<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <app-toolbar
        newButtonLabel="New Department"
        [newItemRoute]="['/department/new']"
      ></app-toolbar>
      <app-table-list
        [items]="departments()"
        [cols]="cols"
        [tdWidthBody]="'50%'"
        [globalFilterFields]="globalFilterFields"
        dataKey="insuranceNumber"
        tableTitle="Manage Patients"
        editRoute="/department/edit"
        (deleteItem)="deleteDepartment($event)"
        (editItem)="editDepartment($event)"
      ></app-table-list>
      <app-dialog
        [showDialog]="deleteDepartmentDialog()"
        header="Confirm Patient Deletion"
        [itemName]="getDepartmentFullName()"
        (cancelDelete)="deleteDepartmentDialog.set(false)"
        (confirmDelete)="onConfirmDelete()"
      ></app-dialog>
    </div>
  </div>
</div>
