<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <app-toolbar
        newButtonLabel="New Department"
        [buttons]="toolbarButtons"
      ></app-toolbar>
      <app-table-list
        [tableData]="departments()"
        [tableColumns]="cols"
        [cellWidth]="'40%'"
        [searchableFields]="globalFilterFields"
        dataKey="insuranceNumber"
        tableTitle="Manage Patients"
        editRoute="/department/edit"
        [rowActions]="departmentTableActions"
      ></app-table-list>
      <app-dialog
        [showDialog]="deleteDepartmentDialog()"
        header="Confirm Patient Deletion"
        [itemName]="getDepartmentFullName()"
        (cancelDelete)="deleteDepartmentDialog.set(false)"
        (confirmDelete)="onConfirmDelete()"
      ></app-dialog>
    </div>
  </div>
</div>
