@if (visit(); as visit) {
  <div class="card">
    <div
      class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
    >
      <h2 class="text-2xl font-bold mb-2 md:mb-0">
        Visit Details - {{ visit.patientName }}
      </h2>
      <p class="text-lg">
        Visit Date: {{ visit.createdAt | date: "longDate" }}
      </p>
    </div>

    <div class="grid mt-3">
      <div class="col-12 md:col-6 lg:col-3">
        <p-card header="Visit Type" [style]="{ height: '100%' }">
          <p class="m-0">{{ visit.visitType }}</p>
        </p-card>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <p-card header="Priority Level" [style]="{ height: '100%' }">
          <p class="m-0">{{ visit.priorityLevel }}</p>
        </p-card>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <p-card header="Room" [style]="{ height: '100%' }">
          <p class="m-0">{{ visit.room || "Not assigned" }}</p>
        </p-card>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <p-card header="Attending Doctor" [style]="{ height: '100%' }">
          <p class="m-0">{{ visit.doctor.fullName }}</p>
        </p-card>
      </div>
    </div>

    <p-tabView
      class="mt-4"
      [(activeIndex)]="activeTabIndex"
      (activeIndexChange)="onTabChange($event)"
    >
      <p-tabPanel header="Overview">
        <ng-template pTemplate="content">
          <p>{{ visit.medicalRecord.notes || "No information" }}</p>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel header="Lab Tests">
        <ng-template pTemplate="content">
          <lab-test-table></lab-test-table>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel header="Prescriptions">
        <ng-template pTemplate="content">
          <prescription-table></prescription-table>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel header="Anamnesis">
        <ng-template pTemplate="content">
          @if (visit.medicalRecord.anamnesis) {
            <anamnesis-detail-cards
              [anamnesis]="visit.medicalRecord.anamnesis"
            ></anamnesis-detail-cards>
          } @else {
            <p>No anamnesis data found.</p>
            <button
              pButton
              pRipple
              label="Register Anamnesis"
              class="w-full p-2 text-xl"
              (click)="navigateToNewAnamnesis()"
            ></button>
          }
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  </div>
} @else {
  <p>Error loading visit data.</p>
}
