<div class="col-12">
  <div class="card">
    <form [formGroup]="patientForm()" (ngSubmit)="onSubmit()">
      <h5>Patient information</h5>
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label for="firstname">Firstname</label>
          <input
            pInputText
            id="firstname"
            type="text"
            formControlName="firstName"
          />
        </div>
        <div class="field col-12 md:col-6">
          <label for="lastname">Lastname</label>
          <input
            pInputText
            id="lastname"
            type="text"
            formControlName="lastName"
          />
        </div>
        <div class="field col-12 md:col-6">
          <label for="insuranceNumber">Insurance number</label>
          <input
            pInputText
            id="insuranceNumber"
            type="text"
            formControlName="insuranceNumber"
          />
        </div>
        <div class="field col-12 md:col-6">
          <label for="dateOfBirth">Date of birth</label>
          <p-calendar
            [showIcon]="true"
            inputId="dateOfBirth"
            formControlName="dateOfBirth"
          ></p-calendar>
        </div>
        <div class="field col-12 md:col-6">
          <label for="gender">Gender</label>
          <p-dropdown
            [options]="dropdownItems()"
            optionLabel="name"
            formControlName="gender"
            placeholder="Select gender"
          ></p-dropdown>
        </div>
        <div class="field col-12 md:col-6">
          <label for="phoneNumber">Phone number</label>
          <input
            pInputText
            id="phoneNumber"
            type="text"
            formControlName="phoneNumber"
          />
        </div>
        <div class="field col-12 md:col-6">
          <label for="email">Email</label>
          <input pInputText id="email" type="text" formControlName="email" />
        </div>
        <div class="field col-12 md:col-6">
          <label for="bloodType">Blood type</label>
          <input
            pInputText
            id="bloodType"
            type="text"
            formControlName="bloodType"
          />
        </div>
        <div class="field col-12 md:col-6">
          <label for="address">Address</label>
          <input
            pInputText
            id="address"
            type="text"
            formControlName="address"
          />
        </div>
        <div class="field col-12 md:col-6">
          <label for="allergies">Allergies</label>
          <input
            pInputText
            id="allergies"
            type="text"
            formControlName="allergies"
          />
        </div>
      </div>
      <button
        pButton
        type="submit"
        label="Save"
        class="w-full p-2 text-xl"
        [disabled]="patientForm().invalid"
      ></button>
    </form>
  </div>
</div>
