<div class="col-12">
  <div class="card">
    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
      <h5>Patient information</h5>
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label for="firstname">Firstname</label>
          <input
            pInputText
            id="firstname"
            type="text"
            formControlName="firstName"
          />
          <small class="p-error">
            <arv-validation-messages for="firstName"></arv-validation-messages>
          </small>
        </div>

        <div class="field col-12 md:col-6">
          <label for="lastname">Lastname</label>
          <input
            pInputText
            id="lastname"
            type="text"
            formControlName="lastName"
          />
          <small class="p-error">
            <arv-validation-messages for="lastName"></arv-validation-messages>
          </small>
        </div>

        <div class="field col-12 md:col-6">
          <label for="insuranceNumber">Insurance number</label>
          <input
            pInputText
            id="insuranceNumber"
            type="text"
            formControlName="insuranceNumber"
          />
          <small class="p-error">
            <arv-validation-messages
              for="insuranceNumber"
            ></arv-validation-messages>
          </small>
        </div>

        <div class="field col-12 md:col-6">
          <label for="dateOfBirth">Date of birth</label>
          <p-calendar
            [showIcon]="true"
            inputId="dateOfBirth"
            formControlName="dateOfBirth"
          ></p-calendar>
          <small class="p-error">
            <arv-validation-messages for="dateOfBirth">
              <arv-validation-message key="underage">
                Patient must be at least 18 years old.
              </arv-validation-message>
            </arv-validation-messages>
          </small>
        </div>

        <div class="field col-12 md:col-6">
          <label for="gender">Gender</label>
          <p-dropdown
            [options]="genderItems()"
            optionLabel="name"
            formControlName="gender"
            placeholder="Select gender"
          ></p-dropdown>
          <small class="p-error">
            <arv-validation-messages for="gender"></arv-validation-messages>
          </small>
        </div>

        <div class="field col-12 md:col-6">
          <label for="bloodType">Blood type</label>
          <p-dropdown
            [options]="bloodTypeItems()"
            optionLabel="name"
            formControlName="bloodType"
            placeholder="Select blood type"
          ></p-dropdown>
          <small class="p-error">
            <arv-validation-messages for="bloodType"></arv-validation-messages>
          </small>
        </div>

        <div class="field col-12 md:col-6">
          <label for="phoneNumber">Phone number</label>
          <input
            pInputText
            id="phoneNumber"
            type="text"
            formControlName="phoneNumber"
          />
          <small class="p-error">
            <arv-validation-messages
              for="phoneNumber"
            ></arv-validation-messages>
          </small>
        </div>

        <div class="field col-12 md:col-6">
          <label for="email">Email</label>
          <input pInputText id="email" type="text" formControlName="email" />
        </div>
        <div class="field col-12 md:col-6">
          <label for="address">Address</label>
          <input
            pInputText
            id="address"
            type="text"
            formControlName="address"
          />
          <small class="p-error">
            <arv-validation-messages for="address"></arv-validation-messages>
          </small>
        </div>
        <div class="field col-12 md:col-6">
          <label for="allergies">Allergies</label>
          <input
            pInputText
            id="allergies"
            type="text"
            formControlName="allergies"
          />
          <small class="p-error">
            <arv-validation-messages for="allergies"></arv-validation-messages>
          </small>
        </div>
      </div>
      <button
        pButton
        type="submit"
        label="Save"
        class="w-full p-2 text-xl"
        [disabled]="patientForm.invalid"
      ></button>
    </form>
  </div>
</div>
