<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              pButton
              pRipple
              label="New"
              icon="pi pi-plus"
              class="p-button-success mr-2"
              [routerLink]="['/patient/new']"
            ></button>
            <button
              pButton
              pRipple
              label="Delete"
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="deleteSelectedPatients()"
              [disabled]="!selectedPatients() || !selectedPatients().length"
            ></button>
          </div>
        </ng-template>
      </p-toolbar>

      <p-table
        #dt
        [value]="patients()"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="[
          'firstName',
          'lastName',
          'insuranceNumber',
          'dateOfBirth',
          'gender',
          'phoneNumber',
        ]"
        [(selection)]="selectedPatients"
        [rowHover]="true"
        dataKey="insuranceNumber"
        [tableStyle]="{ 'min-width': '75rem' }"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0">Manage Patients</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="Search..."
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            @for (col of cols; track col.field) {
              <th [pSortableColumn]="col.field">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            }
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-patient>
          <tr>
            <td>
              <p-tableCheckbox [value]="patient"></p-tableCheckbox>
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">First name</span>
              {{ patient.firstName }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Last name</span>
              {{ patient.lastName }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Insurance number</span>
              {{ patient.insuranceNumber }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Date of birth</span>
              {{ patient.dateOfBirth | date: "MM/dd/yyyy" }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Gender</span>
              {{ patient.gender }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Phone Number</span>
              {{ patient.phoneNumber }}
            </td>
            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deletePatient(patient)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog
      [(visible)]="deletePatientDialog"
      header="Confirm"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        @if (patient()) {
          <span *ngIf="patient()"
            >Are you sure you want to delete the patient
            <b>{{ patient()?.firstName }} {{ patient()?.lastName }}</b
            >?</span
          >
        }
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deletePatientDialog.set(false)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Yes"
          (click)="confirmDelete()"
        ></button>
      </ng-template>
    </p-dialog>

    <p-dialog
      [(visible)]="deletePatientsDialog"
      header="Confirm"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected patients?</span>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deletePatientsDialog.set(false)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Yes"
          (click)="confirmDeleteSelected()"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
