<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <app-toolbar
        newButtonLabel="New Doctor"
        [buttons]="toolbarButtons"
      ></app-toolbar>
      <app-table-list
        [tableData]="doctors()"
        [tableColumns]="cols"
        [searchableFields]="globalFilterFields"
        dataKey="licenseNumber"
        tableTitle="Manage Doctors"
        [rowActions]="doctorTableActions"
      ></app-table-list>
      <app-dialog
        [showDialog]="deleteDoctorDialog()"
        header="Confirm Doctor Deletion"
        [itemName]="getDoctorFullName()"
        (cancelDelete)="deleteDoctorDialog.set(false)"
        (confirmDelete)="onConfirmDelete()"
      ></app-dialog>
    </div>
  </div>
</div>
