<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <app-toolbar
        newButtonLabel="New Doctor"
        [newItemRoute]="['/doctor/new']"
      ></app-toolbar>
      <app-table-list
        [items]="doctors()"
        [cols]="cols"
        [globalFilterFields]="globalFilterFields"
        dataKey="insuranceNumber"
        tableTitle="Manage Patients"
        editRoute="/doctor/edit"
        (deleteItem)="deleteDoctor($event)"
      ></app-table-list>
      <app-dialog
        [showDialog]="deleteDoctorDialog()"
        header="Confirm Patient Deletion"
        [itemName]="getDoctorFullName()"
        (cancelDelete)="deleteDoctorDialog.set(false)"
        (confirmDelete)="onConfirmDelete()"
      ></app-dialog>
    </div>
  </div>
</div>
