<p-table [value]="laboratoryResults()" [rows]="5">
  <ng-template pTemplate="header">
    <tr>
      <th>Test Type</th>
      <th pSortableColumn="name">
        Test Name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th>Status</th>
      <th>Results</th>
      <th pSortableColumn="performedAt">
        Performed at <p-sortIcon field="performedAt"></p-sortIcon>
      </th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-test>
    <tr>
      <td>{{ test.labType }}</td>
      <td>{{ test.name }}</td>
      <td>
        <p-tag
          [severity]="getStatusTest(test.status)"
          [value]="test.status"
        ></p-tag>
      </td>
      <td>{{ test?.results || "The test is not completed" }}</td>
      <td>{{ test.performedAt | date: "medium" }}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-text mr-2"
          (click)="editLabTest(test.id)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-danger p-button-text"
          (click)="confirmDeleteLabTest(test)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-button
  label="Add Lab Test"
  icon="pi pi-plus"
  styleClass="p-button-success mt-3"
  (click)="navigateToNewLabTest()"
></p-button>

<app-dialog
  [showDialog]="deleteLabTestDialog()"
  header="Confirm Laboratory Test Deletion"
  [itemName]="labTestName()"
  (cancelDelete)="onCancelDeleteLabTest()"
  (confirmDelete)="deleteLabTest()"
></app-dialog>
